:root {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    background-color: #232529;
    color: white;
}

nav > * {
    margin: 0px;
}
nav * {
    font-weight: 500;
    font-size: 1.3rem;
}

nav h1 {
    font-size: 2rem;
    font-weight: 500;
}

.nav-link-list {
    display: flex;
    gap: 20px;
    padding: 0;
    align-items: baseline;
    list-style: none;
}

.nav-link-item {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #9B9DA0;
    text-decoration: none;
}

.nav-link-item.active {
    color: white;
}

.nav-link-item:disabled {
    color: #585C5F;
}

.nav-form {
    display: flex;
    margin-left: auto;
    gap: 15px;
}

.nav-form input {
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.nav-form [type="submit"] {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #168752;
    border-radius: 5px;
    color: #168752;
}