table {
    border: 1px solid #263238;
    width: 50%;
}

caption {
    color: #263238;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
}

thead {
    background-color: #455a64;
    color: white;
    font-weight: 700;
}

tbody tr:nth-child(n) {
    background-color: #eceff1;
}

tbody tr:nth-child(2n) {
    background-color: #b0bec5;
}

tbody tr td:nth-child(2) {
    color: #003300;
}

tbody tr td:nth-child(3) {
    color: #7f0000;
}

tr td:nth-child(n+2) {
    text-align: right;
}

tfoot {
    font-weight: 800;
    background-color: #78909c;
}